/* #### NOTIFICATIONS #### */
#red-ui-notifications {
  box-sizing: border-box;
}

.red-ui-notification {
  margin: 0;
  padding: 0.5rem 1rem;

  border-width: 5px;
}

/* #### NODE EDITOR #### */
.red-ui-editor hr {
  margin: 0;
  border-top-width: 2px;
}

.red-ui-editor .red-ui-tray #dialog-form {
  padding: 1rem 0;
}
