:root {
  --default-gap: 12px;
}

.edit-panel {
  padding: 1rem;
  margin-bottom: 2rem;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #ededed;
}

.edit-panel-title {
  display: grid;
  gap: 7px;

  margin-bottom: 7px;
}

.edit-panel-title h3 {
  margin: 0;
}

.edit-panel,
.edit-panel-content {
  display: grid;
  gap: var(--default-gap);
}

.column-input {
  display: grid;
  gap: 5px;
  align-items: center;
}

.column-input input {
  width: 100%;
}

div[style='width: 70%; display: inline-flex;'] {
  width: 100% !important;
}

/* #### THEME CONFIG. NODE #### */
.theme-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.theme-container .column-input {
  width: calc(50% - 5px);
}

/* #### SIMPLEMDE #### */
.CodeMirror {
  border-width: 2px !important;
}

.simplemde label {
  font-weight: bold;
}
